:root{
    --background-color: #780000;
    --secondary-color: #4b97c0;
    --primary-color: #003049;
    --text-color:  #242424;
    --accent-color: #FDF0DF;
    --gray-color: #b9b9b9;
}

*{
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.header-navbar{
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 20px;
    box-shadow: 0 8px 30px rgb(0,0,0,0.12);
}

ul,li{
    list-style-type: none;
}

.header-navbar-right ul{
     display: flex;
     align-items: center;
     gap: 20px;
     transition: all 0.5s ease;
     font-weight: 600; 
}

.header-navbar-right ul li{
    cursor: pointer;
    color:  var(--primary-color);
    transition: all 0.5s ease;
}

.header-navbar-right ul li:hover{
    color: var(secondary-color);
    scale: 0.9;
}

.hero-section{
   /* width:100vh; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.hero-left{
    width: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.header-navbar-right ul{
    display: none;
}
.hero-left h1{
    font-size: 72px;
    color: var(--primary-color);
    margin: 0;
    letter-spacing: 3px;
}

.hero-left span{
    font-weight: bolder;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.hero-left span:hover{
    color: var(--background-color);
}
    
.hero-left p{
    width: 80%;
}

.hero-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.hero-right-image img{
    width: 800px;
    height: auto;
}

#checkbox-menu{
    display: none;
}
@media(max-width:768px){
    .checkbox-menu-toggle{
                  display: none;
    }

    #checkbox-menu:checked+.checkbox-menu-toggle{
                    display: block;
    }

    .checkbox-menu-toggle{
        display: block;
    }

    .hero-left{
    align-items: center;  
    justify-content:center;   
    text-align: center;
    }  


    .hero-left h1{
    width: 80%;
    font-size: 56px;
    line-height: 0.9;
    }


    .hero-left p{
    margin: 30px 0;
    }


    .hero-right-image img{
    width: 300px;
    }

    .header-navbar-right ul{
        display: block;
    }
}







